/* Write your CSS here */

.sp {
  color: #c20a72;
  text-align: center;
  margin-left: 150px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.but {
  background-color: #007bff;
  color: #f1f5f8;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  border: 1px solid #f1f5f8;
}
